flask
flask_sqlalchemy
sqlalchemy
werkzeug
jinja2
waitress
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
icalendar
qrcode
pillow
reportlab
pandas
openpyxl
cryptography
stripe
